body
{
 background-color:#F0F0F0;
 padding: 2em;
 font-family: 'Raleway','Source Sans Pro', 'Arial';
}

.modalspe
{
 width: 50%;
 margin: 0 auto;
 background-color: lightgray;
 padding: 25px;
 display: none;
}

.input-group-prepend
{
  width:20%;
  text-align: center;
}

.input-group-text
{
  width:100%;
  text-align: center;
}


#nb_members_connected, #nb_members_attended, #resolutions_count, #resolutions_attended
{
  font-weight: bold;
  color: darkred;
}

#connexion
{
  display: block;
}

h1, h2
{
  text-align: center;
}

input
{
 text-align: center;
}

button
{
 width: 100%;
}
